body {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    gap: 10px;
}

body > section {
    margin: 15px;
    max-width: 900px;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.top {
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    gap: 10px;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px 0 15px;
}
 
div .headerlogo {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}

.topbar ul {
    list-style: none;
    display: flex;
    margin: 0 20px 0 0;
    padding: 0;
    gap: 20px;
}

.topbar ul li a:link, .topbar ul li a:visited{
    color: white;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px;
}

.introleft {
    max-width: 300px;
}

#signup:hover {
    background-color: rgb(71, 76, 158);
    color: white;
}

.introright {
    width: 300px;
    height: auto;
    /*flex: 1;*/
}

/*
Section:information 2
*/

.information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

div.kacheln {
    display: flex;
    flex-direction: row;    
    max-width: 1000px;
    justify-content: center;
    width: 800px;
}

div.kacheln > * {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 150px;
    text-align: center;
    margin: 20px;
    flex: 1 0 150px;
}


div.kacheln > * > img {
    width: 150px;
    max-height: auto;
}

.quote {
    background-color: #E5E7EB;
    flex-direction: column;

}

.quoteauthor {
    align-self: flex-end;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actionbox {
    background-color: #3882F6;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 140px;
    padding: 5px 25px;
}

.footer {

}
